{
    "copies": [
        {
            "src": "../../intel-bert-base-uncased-mrpc/aitk/winml.py",
            "dst": "winml.py"
        },
        {
            "src": "deepseek_dml.json",
            "dst": "deepseek_migraphx.json",
            "replacements": [
                {
                    "find": "DmlExecutionProvider",
                    "replace": "MIGraphXExecutionProvider"
                },
                {
                    "find": "deepseek_dml",
                    "replace": "deepseek_migraphx"
                }
            ]
        },
        {
            "src": "deepseek_dml.json.config",
            "dst": "deepseek_migraphx.json.config",
            "replacements": [
                {
                    "find": "DmlExecutionProvider",
                    "replace": "MIGraphXExecutionProvider"
                },
                {
                    "find": "DirectML",
                    "replace": "MIGraphX"
                }
            ]
        }
    ]
}
