{
    "workflows": [
        {
            "file": "bert-base-chinese_qdq_qnn.json",
            "templateName": "bert-base-chinese_qdq_qnn"
        },
        {
            "file": "bert-base-chinese_qdq_amd.json",
            "templateName": "bert-base-chinese_qdq_amd"
        },
        {
            "file": "bert-base-chinese_context_ov_static.json",
            "templateName": "bert-base-chinese_context_ov_static"
        },
        {
            "file": "bert-base-chinese_trtrtx.json",
            "templateName": "bert-base-chinese_trtrtx"
        },
        {
            "file": "bert-base-chinese_dml.json",
            "templateName": "bert-base-chinese_dml"
        }
    ],
    "modelInfo": {
        "id": "huggingface/google-bert/bert-base-chinese",
        "version": 1
    }
}
