accelerate
av
decord
einops
git+https://github.com/microsoft/Olive.git@main
huggingface_hub
imageio
onnx
onnxruntime
onnxruntime-genai
opencv-python
Pillow
safetensors
timm
torch>=2.12.0
transformers==5.0.0rc3
