git+https://github.com/microsoft/Olive.git@7bba3ef6c7d494175f5f5542edb695a9cf450d6f
git+https://github.com/onnxruntime/mobius.git@459fc68
onnxruntime-genai
requests
torch>=2.10.0
transformers>=4.57.0,<6.0
