# AMD model generation
--extra-index-url=https://pypi.amd.com/acas/olive_SD/1.7.1/simple

accelerate
datasets

# Pin onnx version
diffusers==0.35.0
evaluate
# opentelemetry-api requires importlib-metadata<8.8.0
importlib-metadata>=6.0,<8.8.0

model-generate
nltk
numpy==1.26.4
olive-ai[auto-opt]
onnx==1.22.0
onnxruntime-vitisai
optimum
pandas==2.2.2
psutil==6.0.0
ryzenai-dynamic-dispatch
ryzenai-onnx-utils
sentencepiece
tabulate
torch==2.6.0
transformers==5.3.0
voe
