# AMD model generation
--extra-index-url=https://pypi.amd.com/ryzenai_llm/1.7.1/windows/simple

accelerate
datasets

# Pin onnx version
diffusers==0.35.0
evaluate
# opentelemetry-api requires importlib-metadata<8.8.0
importlib-metadata>=6.0,<8.8.0

model-generate==1.7.1
nltk
numpy==1.26.4
onnx==1.21.0
onnxruntime-vitisai==1.24.3
optimum
pandas==2.2.2
psutil==6.0.0
ryzenai-dynamic-dispatch==1.7.1
ryzenai-onnx-utils==1.7.1
sentencepiece
tabulate
torch==2.12.0
transformers==5.0.0rc3
voe==1.7.1
