{
    "workflows": [],
    "modelInfo": {
        "id": "huggingface/hf-template",
        "version": 1,
        "displayName": "<customized_model_id>",
        "modelLink": "<customized_model_link>",
        "architecture": "Others",
        "customizedModelInfo": {
            "modelId": "<customized_model_id>",
            "onnxFiles": "<customized_model_onnx_files>",
            "onnxDefaultFileName": "<customized_model_onnx_default_file_name>",
            "task": "<customized_model_task>",
            "tags": "<customized_model_tags>",
            "hasSample": "<customized_model_has_sample>"
        }
    }
}
