# AMD model generation
--extra-index-url=https://pypi.amd.com/simple
accelerate


<path_to>\\model_generate-1.7.0-py3-none-any.whl

nltk
numpy==1.26.4

# Pin onnx version
onnx==1.18.0
onnxruntime
onnxruntime-genai
optimum
sentencepiece
tabulate
huggingface_hub
transformers==4.57.6

<path_to>\\ryzenai_dynamic_dispatch-1.7.0.dev20260120150053+gd90497056-cp312-cp312-win_amd64.whl
<path_to>\\ryzenai_onnx_utils-0.10.0.dev0-py3-none-any.whl
