{
    "copies": [
        {
            "src": "../../deepseek-ai-DeepSeek-R1-Distill-Qwen-1.5B/aitk/README.md",
            "dst": "README.md",
            "replacements": [
                {
                    "find": "# DeepSeek-R1-Distill-Qwen-1.5B Model Optimization",
                    "replace": "# Qwen3-0.6B Model Optimization"
                },
                {
                    "find": "[DeepSeek-R1-Distill-Qwen-1.5B](https://huggingface.co/deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B)",
                    "replace": "[Qwen3-0.6B](https://huggingface.co/Qwen/Qwen3-0.6B)"
                },
                {
                    "find": "> ⚠️ If got 6033 error, replace `genai_config.json` in `./model` folder",
                    "replace": ""
                }
            ]
        },
        {
            "src": "../../deepseek-ai-DeepSeek-R1-Distill-Qwen-1.5B/aitk/requirements.txt",
            "dst": "requirements.txt",
            "replacements": []
        },
        {
            "src": "../../deepseek-ai-DeepSeek-R1-Distill-Qwen-1.5B/aitk/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": [
                {
                    "find": "<｜User｜>{input}<｜Assistant｜><think>",
                    "replace": "<|im_start|>user\\n{input}<|im_end|>\\n<|im_start|>assistant\\n"
                }
            ]
        },
        {
            "src": "../../deepseek-ai-DeepSeek-R1-Distill-Qwen-1.5B/aitk/winml.py",
            "dst": "winml.py"
        }
    ]
}
