{
    "name": "Convert to Intel GPU",
    "oliveFile": "phi4/openvino/phi_4_mini_instruct/Phi-4-mini-instruct-gpu-context-dy.json",
    "isLLM": true,
    "isIntel": true,
    "intelRuntimeValues": [
        "gpu"
    ],
    "executeRuntimeFeatures": [
        "Nightly"
    ],
    "addCpu": false,
    "sections": []
}
