{
    "copies": [
        {
            "src": "../NvTensorRtRtx/Qwen3.6-35B-A3B_model_builder_int4.json",
            "dst": "Qwen3.6-35B-A3B_model_builder_int4.json",
            "replacements": [
                {
                    "find": "\"engine\": {\n        \"target\": \"local_system\"\n    },",
                    "replace": "\"target\": \"local_system\","
                },
                {
                    "find": "output_dir",
                    "replace": "model/Qwen3.6-35B-A3B",
                    "type": "pathAdd"
                }
            ]
        },
        {
            "src": "../../Qwen-Qwen3-0.6B/aitk/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": [
                {
                    "find": "QNNExecutionProvider",
                    "replace": "NvTensorRTRTXExecutionProvider"
                }
            ]
        },
        {
            "src": "../NvTensorRtRtx/README.md",
            "dst": "README.md"
        },
        {
            "src": "../../Qwen-Qwen3-0.6B/aitk/requirements.txt",
            "dst": "requirements.txt"
        },
        {
            "src": "../../Qwen-Qwen3-0.6B/LICENSE",
            "dst": "../LICENSE"
        },
        {
            "src": "../../deepseek-ai-DeepSeek-R1-Distill-Qwen-1.5B/aitk/winml.py",
            "dst": "winml.py"
        }
    ]
}
