{
    "workflows": [],
    "modelInfo": {
        "id": "local/local-template",
        "version": 1,
        "displayName": "<customized_model_id>",
        "modelLink": "",
        "architecture": "Others",
        "customizedModelInfo": {
            "modelId": "<customized_model_id>",
            "localModelPath": "<customized_local_model_path>"
        }
    }
}
