mobius-onnx @ git+https://github.com/onnxruntime/mobius.git@1099fff00c43a7119fe5e5757f54cc0b202f2ec5
olive-ai[gpu] @ git+https://github.com/microsoft/Olive.git@9253bbe0993193d711f8e4b7384126927622df8c
onnxruntime-genai-cuda
