coloredlogs==15.0.1
flatbuffers==25.2.10
humanfriendly==10.0
mpmath==1.3.0
numpy==2.2.4
# onnx==1.17.0
onnx==1.17.0
onnxruntime-genai-winml==0.12.1
./onnxruntime_windowsml-1.24.4.202603181718-cp312-cp312-win_amd64.whl
packaging==24.2
protobuf==5.29.6
pyreadline3==3.5.4
sympy==1.14.0
# uvpip:uninstall wasdk-Microsoft.Windows.AI.MachineLearning;pre
# uvpip:uninstall wasdk-Microsoft.Windows.ApplicationModel.DynamicDependency.Bootstrap;pre
windowsml==2.0.297rc0
# winrt-runtime==3.2.1
winrt-runtime==3.2.1
# winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation==3.2.1
# winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
# not in requires
