coloredlogs==15.0.1
flatbuffers==25.2.10
humanfriendly==10.0
mpmath==1.3.0
numpy==2.2.4
onnxruntime-windowsml==1.27.1.202607110137
packaging==24.2
protobuf==7.36.1
pyreadline3==3.5.4
sympy==1.14.0
windowsml==2.3.42
# not in requires
