coloredlogs==15.0.1
flatbuffers==25.2.10
humanfriendly==10.0
mpmath==1.3.0
numpy==2.2.4
onnxruntime-windowsml==1.24.4.202603181718
packaging==24.2
protobuf==5.29.6
pyreadline3==3.5.4
sympy==1.14.0
# uvpip:uninstall wasdk-Microsoft.Windows.AI.MachineLearning;pre
# uvpip:uninstall wasdk-Microsoft.Windows.ApplicationModel.DynamicDependency.Bootstrap;pre
windowsml==2.0.297rc0
# uvpip:uninstall winrt-runtime winrt-Windows.Foundation winrt-Windows.Foundation.Collections;pre
# not in requires
