--extra-index-url=https://pypi.amd.com/olive/1.8.0-8D/simple/
# AMD model generation
--extra-index-url=https://pypi.amd.com/simple
accelerate

# Quark
amd-quark==0.12.post1
datasets
evaluate
huggingface_hub

model-generate

nltk
numpy==2.5.1

# Pin onnx version
onnx==1.22.0
onnxruntime
onnxruntime-genai==0.14.0
onnxsim
optimum

ryzenai-dynamic-dispatch
ryzenai-onnx-utils
sentencepiece
tabulate
transformers==4.57.6
