git+https://github.com/microsoft/Olive.git@c5be263167f252da65d51e15a1a3cd3556ae0c91
git+https://github.com/onnxruntime/mobius.git@487b403fc669668219dea109b6ca85a3ace4e979
huggingface_hub
numpy
onnx
onnx-ir
onnxruntime
peft
safetensors
sentencepiece
torch
transformers
