{
    "workflows": [
        {
            "displayName": "Conversion Sample",
            "file": "sample.json",
            "templateName": "sample"
        }
    ],
    "modelInfo": {
        "id": "extension/add_json",
        "version": 1,
        "displayName": "Add Json Template",
        "modelLink": "https://huggingface.co/",
        "architecture": "Others"
    }
}
